@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our BookShop</h1>
    <p class="display-6">The place on the web to buy some f!cking amazing books</p>
</div>
