@model PublisherEditVm
<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken();
    <input type="hidden" asp-for="PublisherId" />
    <div class="border p-3 m-4 w-75 mx-auto">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.PublisherId==0?"Add A Publisher":"Update An Publisher")</h2>
            <hr />
        </div>
        <div class="row">
            <div class="col-9">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3 row p-1">
                    <label class="p-0" asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0" asp-for="CountryId"></label>
                    <select class="form-select" asp-for="CountryId" asp-items="@Model.Countries">
                        <option selected disabled>Select Country</option>
                    </select>
                    <span class="text-danger" asp-validation-for="CountryId"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0" asp-for="ImageUrl"></label>
                    <input type="file" name="imageFile" id="imageFile" class="form-control" asp-for="ImageUrl" />
                </div>

                @if (Model.PublisherId == 0)
                {
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-floppy2-fill"></i>
                        Save
                    </button>

                }
                else
                {
                    <button class="btn btn-warning" type="submit">
                        <i class="bi bi-floppy2-fill"></i>
                        Update
                    </button>

                }
                <a class="btn btn-success" asp-controller="Publishers" asp-action="Index">
                    <i class="bi bi-backspace"></i>
                    Back to List
                </a>

            </div>
            <div class="col-3">
                @if (Model.ImageUrl is null)
                {
                    <img src="/Images/SinImagenDisponible.jpg" style="width:100%; border-radius:5px; border:1px solid" />

                }
                else
                {
                    <img src="@Model.ImageUrl" style="width:100%; border-radius:5px; border:1px solid" />
                    <div class="form-group py-2 text-center">
                        <div>
                            <label for="RemoveImage">Remove current image</label>
                            <input type="checkbox" id="removeImage" name="removeImage" value="true" />
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{

        <partial name="_ValidationScriptsPartial" />
    }
}