@model AuthorEditVm
<form method="post">
    @Html.AntiForgeryToken();
    <input type="hidden" asp-for="AuthorId" />
    <div class="border p-3 m-4 w-75 mx-auto">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.AuthorId==0?"Add An Author":"Update An Author")</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" />
            <span class="text-danger" asp-validation-for="FirstName"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName" />
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="CountryId"></label>
            <select class="form-select" asp-for="CountryId" asp-items="@Model.Countries">
                <option selected disabled>Select Country</option>
            </select>
            <span class="text-danger" asp-validation-for="CountryId"></span>
        </div>
        @if (Model.AuthorId == 0)
        {
            <button class="btn btn-primary" type="submit">
                <i class="bi bi-floppy2-fill"></i>
                Save
            </button>

        }
        else
        {
            <button class="btn btn-warning" type="submit">
                <i class="bi bi-floppy2-fill"></i>
                Update
            </button>

        }
        <a class="btn btn-success" asp-controller="Authors" asp-action="Index">
            <i class="bi bi-backspace"></i>
            Back to List
        </a>
    </div>
</form>
@section Scripts {
    @{

        <partial name="_ValidationScriptsPartial" />
    }
}